<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>React + Spring</title>
 <!--show popups -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="/built/bundle.js" defer="defer"></script>



</head>
<body>
<div id='root'></div>
</body>
</html>
